  <div class="jumbotron">
    <h1 class="display-2">Camper App</h1>
    <p class="lead">
      An application to help choose the best camper.
    </p>
    <div class="form-group">
      <input type="text" class="form-control" id="usr" placeholder="Search Vehicle Make & Model">
    </div>
    <a class="btn btn-outline-primary nav-button" href="#"> Search Vehicle</a> | <a href="#">Don't know vehicle?</a>
    </div>
