<h1>Import Vehicles</h1>

<%= simple_form_for :import, url: process_import_admin_vehicles_path, html: { multipart: true} do |f| %>
  <div class="form-group">
    <label>File:</label>
    <input type="file" name="file" class="form-control">
  </div>
  <button class="btn btn-outline-success">
    Import
  </button>
<% end %>