.navbar {
  box-shadow: 0px 1px #BEBEBE;
}
body {
  font-size: 14px;
  font-family: Roboto;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 80px; // accommodate the navbar
  margin-bottom: 40px;
}

section {
  @extend .row;
  margin-top: 20px;
}

.navbar-brand {
  font-size: inherit;
  }

.box-search {
  position: relative;
  &.active {
    .list-vehicles {
      transform: scale(1);
    }
  }
  .list-vehicles {
    transform: scale(0);
    position: absolute;
    background: #FFF;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0px 0px 5px 5px;
    z-index: 999;
    overflow-y: auto;
    max-height: 30vh;
    .item {
      padding: 0.375rem 0.75rem;
      border-bottom: 1px solid #ccc;
      &:hover {
        background: #eee;
      }
      a {
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.select2-container {
  width: 100% !important;
  max-width: 100%;
}

.camper_search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
}

.hero-section {
  background: image-url('camper.jpg') fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
  height: 100vh;
  padding-top: 180px;
}

.hero-heading {
  color: white;
  font-size: 70px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.hero-subheading {
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
